@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title This Site</h2>

<p>This website is created as part of a simple overview course on ASP.Net MVC.</p>

<p>The course was created by Brian Gorman of Major Guidance Solutions</p>

<p>Feel free to sign up and use this site for your contact needs, or take the course and build your own!</p>

<p>I cannot guarantee this site will be up in perpetuity, and space is severly limited, so you are much better off taking the course and building your own!</p>

<p><a href="http://www.majorguidancesolutions.com/courses/details/6" target="_blank">Find Out More</a></p>