@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Awesome Courses from Major Guidance Solutions</h1>
    <p class="lead">Find and Take Awesome courses with Brian from Major Guidance Solutions</p>
    <p><a href="https://training.majorguidancesolutions.com" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="img-thumbnail img-fluid">
            <img src="~/Content/images/gitchallengecourse.jpg" style="max-height:400px; width:100%;" />
            <h2>The Ultimate GIT 5-day Challenge</h2>
            <p>
                A free introductory course that takes you through five days of activities to learn how to work with GIT, GitHub and/or Bitbucket
            </p>
            <p><a class="btn btn-default" href="https://training.majorguidancesolutions.com/courses/the-ultimate-git-5-day-challenge" target="_blank" style="width:100%;">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-thumbnail img-fluid">
            <img src="~/Content/images/scifidevcon.jpg" style="max-height:400px; width:100%;" />
            <h2>SciFiDevCon</h2>
            <p>Join our free community event for the latest talks around azure and dev topics with a sci-fi flare!</p>
            <p><a class="btn btn-default" href="https://training.majorguidancesolutions.com/courses/scifidevcon-presents-31-days-of-may-the-fourth-be-with-you" target="_blank" style="width:100%;">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-thumbnail img-fluid">
            <img src="~/Content/images/blogpostsandvideos.jpg" style="max-height:400px; width:100%;" />
            <h2>Check out my latest blog and video posts</h2>
            <p><a class="btn btn-default" href="https://training.majorguidancesolutions.com/courses/blog-posts-and-talks" target="_blank" style="width:100%;">Learn more &raquo;</a></p>
        </div>
    </div>
</div>